#mainTable{
    border:2px solid;
    width:300px;
    height:300px;
    margin:auto;
}

.smallTable{
    width:75px;
    height:75px;
    margin:auto;
}

.box1{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box2{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box3{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box4{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box5{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box6{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box7{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box8{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}
.box9{
    background-color:white;
    border:none;
    width:20px;
    height:20px;
}